{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Password Reset{% endblock title %}


{% block content %}

<div class="row justify-content-center">
    <div class="col-6 text-center">
        {% if validlink %}
        <h2>Password Reset</h2>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-info" value="Confirm">
        </form>
        {% else %}
        <h3>ERRORE</h3>
        {% endif %}
        <br>
        <p><a href="{% url 'login' %}">Login</a></p>
    </div>
</div>
{% endblock content %}